<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Excel2Region</title>
        <style>
            .t-100{ margin:0 auto; width:100%}
            .t-center{ margin:0 auto; width:450px}
            /* 要是网页中间内容宽度1000px */
        </style>
        <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
    <div >
      <h1>Excel2Region</h1>

    <h4>请上传Excel文件</h4>

    <form action="/test" enctype="multipart/form-data" method="post" >
        <input name = "file" type ="file" value = "请选择文件">
        <br></br>
        <input  type="submit">
        <h4 style="color:red;" th:text="${up}"> </h4>
    </form>
      <br>

    <h4>解析结果:</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>province</th>
                <th>city</th>
                <th>county</th>
                <th>outOfPovertyYear</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="raw : ${resList}">
                <th scope="row" th:text="${raw.province}">~</th>
                <td th:text="${raw.city}">~</td>
                <td th:text="${raw.county}">~</td>
                <td th:text="${raw.outOfPovertyYear}">~</td>
            </tr>
            </tbody>
        </table>

    </div>
    </body>
</html>