<!DOCTYPE html>
<html lang="en">
<!--使用 thymeleaf 模板-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
</head>
<body>
<!-- 直接取属性，或者使用get()都可以。如果不指定userDOList对应的key--"u",model会默认它是userDOList-->
<form action="" th:each="u:${u}">
    用户编号:<input name="id" th:value="${u.id}"/><br>
    用户姓名:<input type="text" name="userPassword" th:value="${u.name}"/><br>
    登录密码:<input type="text" name="userName" th:value="${u.getAge()}"/><br>
    用户存款:<input name="userPhone" th:value="${u.money}" type="text"/>
</form>
</body>
</html>